.env
*__pycache__/
bin
.venv
.python-version

# Generated Lambda layer dependencies
lambda_layers/*/build/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform binary plan files
terraform/tfplan*
*.tfplan

*.tfvars
*.auto.tfvars

# Terraform generated Lambda deployment packages
terraform/*.zip

#crash logs
crash.log
crash.*.log