.env
*__pycache__/
bin
.venv
lambda_layer/build/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#Terraform plan files
*.tfplan

# Terraform generated Lambda deployment packages
terraform/function.zip
terraform/lambda_layer.zip