.env
*__pycache__/
bin
.venv

# Generated Lambda layer builds
lambda_layer/build/
lambda_layers/*/build/

# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform-generated Lambda deployment packages
terraform/*.zip